build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.continue/tmp/
.continue/rules/project_context.md
.architectury-transformer/debug.log
